body {
    max-width: 100%;
    margin: auto;
    font-family: acumin pro;
    background-color: #202020;
    color: #bebebe;
}

.about-section {
    position: absolute;
    width: 40%;
    height: 344px;
    left: 699px;
    top: 167px;
    text-align: justify;  
}

.teamet {
    position: absolute;
    width: 40%;
    height: 43px;
    left: 170px;
    top: 135%;
    text-align: justify;
}

#brage {
    position: absolute;
    width: 30%;
    left:13%;
    top:33%;
}


.cfo {
  position: absolute;
  width: 117%;
  height: 10%;
  left: 90%;
  top: 450%;
}

#ingrid {
    position: absolute;
    width: 50%;
    top: 400%;
}

.cto {
    position: absolute;
    width: 117%;
    height: 10%;
    left: 90%;
    top: 1450%;
}

#roselin {
    position: absolute;
    width: 50%;
    top: 1500%;
    filter:grayscale(100%);
}

.head_of_design {
    position: absolute;
    width: 117%;
    height: 10%;
    left: 90%;
    top: 2450%;

}

#hanna {
    position: absolute;
    width: 50%;
    top: 2500%; 
}


.dronepilot {
    position: absolute;
    width: 117%;
    height: 10%;
    left: 90%;
    top: 3450%;
}

#herman {
    position: absolute;
    width: 50%;
    top: 3500%; 
}


hr.strek{
    width:205%;
    color:#f2f2f2;
    size: 2px;
}

hr.strek2{
    width:100%;
    color:#f2f2f2;
    size: 2px;
}
