/*.about-section {
    position: relative;
    width: 40%;
    height: 344px;
    left: 699px;
    top: 167px;
    text-align: justify;  
}

.teamet {
    position: absolute; 
    width: 40%;
    height: 43px;
    left: 170px;
    top: 135%;
    text-align: justify;
}

#brage {
    position: absolute;
    width: 30%;
    left:13%;
    top:33%;
}

#brage:hover {
    opacity: 0.7;
}


.cfo {
  position: absolute;
  width: 117%;
  height: 10%;
  left: 90%;
  top: 450%;
}

#ingrid {
    position: absolute;
    width: 50%;
    top: 400%;
    filter: grayscale(100%);
}
#ingrid:hover {
    filter: grayscale(0%);
}
.cto {
    position: absolute;
    width: 117%;
    height: 10%;
    left: 90%;
    top: 1450%;
}

#roselin {
    position: absolute;
    width: 50%;
    top: 1500%;
    filter:grayscale(100%);
}
#roselin:hover {
    filter: grayscale(0%);
}

.head_of_design {
    position: absolute;
    width: 117%;
    height: 10%;
    left: 90%;
    top: 2450%;

}

#hanna {
    position: absolute;
    width: 50%;
    top: 2500%; 
}

#hanna:hover {
    opacity: 0.7;
}

.dronepilot {
    position: absolute;
    width: 117%;
    height: 10%;
    left: 90%;
    top: 3450%;
}

#herman {
    position: absolute;
    width: 50%;
    top: 3500%; 
}
#herman:hover {
    opacity: 0.7;
}

hr.strek{
    width:205%;
    color:#f2f2f2;
    size: 2px;
}

hr.strek2{
    width:100%;
    color:#f2f2f2;
    size: 2px;
}
*/


.cfo{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.cto{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.hod{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.dronepilot{
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.bilde{
    justify-self: center;
    width: 50%;
    margin-bottom: 10%;
    filter: grayscale(100%);
}

.text{
    justify-self: left;
    width: 70%;
}

.cfo > :nth-child(2){
    margin-top: 4%;
}

@media screen and (max-width: 720px) {
    .cto, .cfo, .hod, .dronepilot{
        display: grid;
        grid-template-columns: 1fr;
        padding: 2%;
    }
    .text{
        justify-self: center;
    }
    .bilde{
        margin-bottom: 1%;
    }
}








/*The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  /* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation */
.modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  /* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }
