.aboutBrage {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.imgBrage {
  justify-self: center;
  width: 60%;
  padding: 5%;
  margin-top: 8%;
}
.textBrage {
  justify-self: left;
  width: 70%;
  padding: 5%;
  text-align: justify;
  margin-top: 8%;
}

#videoPlayer {
  display: none;
}

#team,
.strek {
  margin-left: 10%;
  margin-right: 10%;
  text-align: left;
}

.cfo,
.cto,
.hod,
.dronepilot {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.bilde {
  justify-self: center;
  width: 50%;
  margin-bottom: 10%;
  filter: grayscale(100%);
}

.text {
  justify-self: left;
  width: 70%;
  text-align: justify;
}

.cfo > :nth-child(2) {
  margin-top: 4%;
}

@media screen and (max-width: 720px) {
  .cto,
  .cfo,
  .hod,
  .dronepilot,
  .aboutBrage {
    display: grid;
    grid-template-columns: 1fr;
    padding: 2%;
  }
  .text,
  .textBrage {
    justify-self: center;
    padding-top: 3%;
  }

  .bilde {
    margin-bottom: 2%;
    padding-top: 4%;
  }

  .textBrage > h1,
  h2 {
    text-align: center;
  }
}

#ingrid:hover, #herman:hover, #roselin:hover, #hanna:hover, #brage:hover{
  filter: brightness(60%);
  cursor: pointer;
}

#introvideo{
  border: 0;
}

.videostyle{
  display: flex;
  width: 100%;
  min-height: 100%;
  grid-column-start: 1;
  grid-column-end: 3;
  
  justify-self: start;
  align-self: start;
}

.textstyle{
  grid-column-start: 1;
  grid-column-end: 3;
  justify-self: center;
  width: 50%;
  padding: 0;
  margin-top: 0;
  margin-bottom: 5%;
  text-align: justify;
}

.textstyle > h1{
  text-align: center;
}

.textstyle > h2{
  text-align: center;
}



#lightbox {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}

#lightbox.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

#lightbox img {
  max-width: 90%;
  max-width: 80%;
  filter: grayscale(100%);
}


/*The Modal (background) */
/*.modal {
    display: none; */ /* Hidden by default */
/*position: fixed; */ /* Stay in place */
/*z-index: 1; /* Sit on top */
/*padding-top: 100px; /* Location of the box */
/*left: 0;
    top: 0;
    width: 100%; /* Full width */
/*height: 100%; /* Full height */
/*overflow: auto; /* Enable scroll if needed */
/*background-color: rgb(0,0,0); /* Fallback color */
/*background-color: rgba(0,0,0,0.9); /* Black w/ opacity */ /*
  }
  
  /* Modal Content (image) */
/*
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  /* Caption of Modal Image */
/*
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation */
/*
.modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  /* The Close Button */
/*
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
/*
@media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }

/*.navbar {
  overflow: hidden;
  background-color: #353535; 
  color: #f2f2f2;
  text-align: center;
}

.navbar a {
  float: right;
  font-size: 18px;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  
}

.subnav {
  float: right;
  overflow: hidden;
  height: 15vh;
  text-align: center;
  padding: 2% 4%;
  
  
}

.subnavbtn{
  float: right;
  font-size: 18px;
  color: #f2f2f2;
  text-align: center;
  margin-top: 11%;
  margin-right: 20%;

}


.subnav .subnavbtn {
  font-size: 18px;  
  border: none;
  outline: none;
  color: #f2f2f2;
  padding: 2.5vh 3vh;
  background-color: inherit;
  font-family: inherit;
}


.navbar a:hover, .subnav:hover .subnavbtn {
  color: #a4161a;
}

.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  color: #a4161a;
  background-color: #353535;
  width: 100%;
  z-index: 1;
  top: 100%;
  border-top: solid #a4161a;
  text-align: center;

}

.subnav-content a {
  float: right;
  color: #f2f2f2;
  text-decoration: none;
  padding-left: 9.5%;
  padding-right: 9.5%;  
  text-align: center;
  

}



.subnav:hover .subnav-content {
  display: block;
}


*/
