form {
    margin-left: 30%;
    text-align: left;
}

h1{
    margin-left: 30%;
    text-align: left;
}


input[type=text]{
    width: 30%;
    box-sizing: border-box;
    border: 2% solid #f2f2f2;
    border-radius: 5px;
    padding: 4px;
}

input[type=email]{
    width: 60.5%;
    box-sizing: border-box;
    border: 2% solid #f2f2f2;
    border-radius: 5px;
    padding: 4px;
}

textarea{
    box-sizing: border-box;
    border: 2% solid #f2f2f2;
    border-radius: 5px;
    padding: 4px;
    width: 60.5%;
}


input[type=submit]{
    background-color: #a4161a;
    border: none;
    color: #f2f2f2;
    padding: 0.8%;
    border-radius: 5px;
    margin-left: 55%;

}

#backVideo {
    position: fixed;
    z-index: -1;
    right: 0;
    top: 0;
    min-width: 100%; 
    max-height: 100%;
}
  
.contacttext {
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}




