body {
    max-width: 100%;
    margin: auto;
    font-family: acumin pro;
    background-color: #202020;
    color: #bebebe;
} 

    /* Add a black background color to the top navigation */
.topnav {
    background-color: #353535;
    height: 90px;
    width: 100%;
}
  
  /* Style the links inside the navigation bar */
.topnav a {

    float: right;
    color: #f2f2f2;
    text-align: right;
    padding: 2% 4%;
    text-decoration: none;
    font-size: 18px;
}
  
  /* Change the color of links on hover */
.topnav a:hover {
    color: #a4161a;
}
  
  /* Add a color to the active/current link */
.topnav a.active {
    color: #a4161a;
}


.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #353535;
  text-align: center;
}

.footer a:hover {
  color: #a4161a;
}

#yt, #in, #face, #insta, #vimeo {
  position: relative;
  width: 3%;
  padding: 1.5%;
}


.brage_logo{
  position: absolute;
  top: 0px;
  left: 10px;
}

