body {
    max-width: 100%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #202020;
    color: #bebebe;
} 



  
.topnav {
    background-color: #353535;
    position: fixed;
    top: 0;
    height: 90px;
    width: 100%;
    transition: top 0.3s;
}
  
  
.topnav a {

    float: right;
    display: block;
    color: #f2f2f2;
    text-align: left;
    text-justify: center;
    padding: 2% 4%;
    text-decoration: none;
    font-size: 18px;
}
  
  /* Change the color of links on hover */
.topnav a:hover {
    color: #a4161a;
}
  
  /* Add a color to the active/current link */
.topnav a.active {
    color: #a4161a;
}



.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #353535;
  text-align: center;
}



#yt, #in, #face, #insta, #vimeo {
  position: relative;
  width: 3%;
  padding: 1.5%;
}


.brage_logo{
  position: absolute;
  top: 0px;
  left: 10px;
}