
/*.row {
    display: flex;
}
  
.column {
    flex: 50%;
}

@media screen and (max-width: 640px) {
    .column {
      flex: 100%;
    }
}

*/


.part1 {
    display: grid;
    margin-top: 90px;
    /*grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));*/
    grid-template-columns: repeat(2, 1fr);
}



@media screen and (max-width: 720px) {
    .part1{
      display: grid;
      grid-template-columns: 1fr;
    }
}

/*
.container {
    position: relative;
    font-family: Arial;
    
  }

.text-block {
    width: auto;
    height: auto;
    position: absolute;
    margin: 0 auto;
    top: 35%;
    left: 35%;
    background-color: black;
    color: white;
    /*padding-left: 20px;
    padding-right: 20px;
    opacity: 0;
    text-align: center;
    vertical-align: middle;
  }

.container:hover .opacity{
    transition: .5s ease;
    filter: brightness(30%);
}

.container:hover .text-block{

    opacity: 1;
    transition: .5s ease;

}*/



#bestemor:hover{
    transition: .5s ease;
    filter: brightness(30%);
}

#fakkel:hover{
    transition: .5s ease;
    filter: brightness(30%);

}

#seil:hover{
    transition: .5s ease;
    filter: brightness(30%);
}

#beito:hover{
    transition: .5s ease;
    filter: brightness(30%);
}

#forside{
    margin-top: 5%;
}



.part2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 5%;
    background-color: #f2f2f2;
    color: #202020;

}

.photo{
    width: 50%;
    padding-left: 20%;
    padding-top: 10%;
    padding-bottom: 10%;
}

.text{
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-self: center;
    padding-right: 20%;
    padding-left: 10%;
    

}

.text > div:nth-child(1){
    font-size: 25px;
    padding-bottom: 10%;
}

/*

#house{
    position: absolute;
    width: 266px;
    height: 149px;
    left: 170px;
    
}

#kajakk{
    position: absolute;
    width: 266px;
    height: 149px;
    left: 40%;
    
}

#klatring{
    position: absolute;
    width: 266px;
    height: 149px;
    left: 70%;
    
}
*/

h2{
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;

}


.part3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10%;
    gap: 10%;
    grid-auto-rows: 200px;
}

/*

#house:hover{
    transition: .5s ease;
    filter: brightness(30%);
}

#fjellet:hover{
    transition: .5s ease;
    filter: brightness(30%);

}

#bilde1:hover{
    transition: .5s ease;
    filter: brightness(30%);
}*/



