
/*.row {
    display: flex;
}
  
.column {
    flex: 50%;
}

@media screen and (max-width: 640px) {
    .column {
      flex: 100%;
    }
}

*/

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));

}

@media screen and (max-width: 720px) {
    .grid{
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
}

