h1 {
  padding-top: 2%;
  text-align: left;
  margin-left: 5%;
}

h4 {
  margin-left: 1%;
  display: block;
  padding-bottom: 2%;
  border-bottom: 2px solid white;
  height: 10%;
}

.grid-container{
  display: grid;
  grid-template-areas: 'left right';
  grid-template-columns: 1fr 2fr;
  grid-gap: 8%;
   
}



.leftside{
  grid-area: left;
  text-align: left;
  padding: 5%;
  margin-top: 8%;
  margin-left: 10%;
    /* justify-self: end; */
}


input[type=submit]{
  background-color: #a4161a;
  border: none;
  color: #f2f2f2;
  padding: 0.8%;
  border-radius: 5px;
  margin-left: 60%;
  width: 10em;
  height: 3em;
}

.rightside{
  position: relative;
  grid-area: right; 
  margin-top: 4%;
  padding: 5%;
  text-align: left;
  margin-right: 10%;
}



#textarea{
  color: rgb(190, 190, 190);
  border-radius: 25px;
  border: 2px solid #353535;
  padding: 20px; 
  width: 500px;
  height: 200px; 
  margin-left: 2%;
}

/* #textarea:focus:first-letter{
  text-transform: capitalize;
} */

#textarea:focus{
  color: #353535;
}
/*

#video {
  justify-items: right;
}
#hours{
  justify-items: end;
}

#days{
  justify-items: end;
}

#form{
  text-align: end;
}

#form2{
  text-align: end;
}*/

label{
  display: inline-block;
  text-align: left;
  place-self: start;
}

#hours{
  margin-left: 50%;
}

#days{
  margin-left: 51.7%;
}

#video{
  margin-left: 82%;
}

#image{
  margin-left: 78.7%;
}


 /*
form {
  width: 30%;
  margin-left: 10%;
  bottom: 50%;
}

#video {
  grid-column: 2/3;
}

#image {
  margin-left: 58%;
}

#hours {
  margin-left: 70%;
}

#days {
  margin-left: 40%;
}

textarea {
  padding: 10px;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
  margin-left: 40%;
  top: -5%;
}
