body, #slider, .wrap, .slide-content{
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

.wrap{position: relative}

.slide{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Adventure */
.a_slide1{background-image: url('../img/seil.jpg')}
.a_slide2{background-image: url("../img/fakkel.jpg")}
.a_slide3{background-image: url("../img/flamme.jpg")}
.a_slide4{background-image: url("../img/innerdalen/bilder3.jpg")}
.a_slide5{background-image: url("../img/innerdalen/bilder6.jpg")}
.a_slide6{background-image: url("../img/innerdalen/bilder15.jpg")}
.a_slide7{background-image: url("../img/innerdalen/bilder20.jpg")}
.a_slide8{background-image: url("../img/innerdalen/bilder22.jpg")}
.a_slide9{background-image: url("../img/innerdalen/bilder27.jpg")}
.a_slide10{background-image: url("../img/innerdalen/bilder35.jpg")}

/* Nature */
.n_slide1{background-image: url('../img/beito.jpg')}
.n_slide2{background-image: url("../img/fjellet.jpg")}
.n_slide3{background-image: url("../img/innerdalen/bilder1.jpg")}
.n_slide4{background-image: url("../img/innerdalen/bilder2.jpg")}
.n_slide5{background-image: url("../img/innerdalen/bilder16.jpg")}
.n_slide6{background-image: url("../img/innerdalen/bilder20.jpg")}
.n_slide7{background-image: url("../img/innerdalen/bilder37.jpg")}

/* Portrait */
.p_slide1{background-image: url('../img/innerdalen/bilder32.jpg')}
.p_slide2{background-image: url("../img/innerdalen/bilder5.jpg")}
.p_slide3{background-image: url("../img/innerdalen/bilder7.jpg")}
.p_slide4{background-image: url("../img/innerdalen/bilder13.jpg")}
.p_slide5{background-image: url("../img/innerdalen/bilder9.jpg")}
.p_slide6{background-image: url("../img/innerdalen/bilder33.jpg")}
.p_slide7{background-image: url("../img/innerdalen/bilder31.jpg")}

/* Real Estate */
.re_slide1{background-image: url('../img/bestemor.jpg')}
.re_slide2{background-image: url("../img/bestemor2.jpg")}
.re_slide3{background-image: url("../img/re1.jpg")}
.re_slide4{background-image: url("../img/re2.jpg")}
.re_slide5{background-image: url("../img/re3.jpg")}
.re_slide6{background-image: url("../img/re4.jpg")}

.slide-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.slide-content span{
    font-size: 5rem;
    color: white;
}

#close-button{
    cursor: pointer;
    opacity: 50%;
    font-size: 3vw;
    position: absolute;
    right: 3vh;
    top: 3vh;
}

#close-button:hover{
    opacity: 100%;
}

.arrow{
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -30px;
    width: 0;
    height: 0;
    border-style: solid;
}

#arrow-left{
    border-width: 30px 40px 30px 0;
    border-color: transparent white transparent transparent;
    opacity: 50%;
    left: 0;
    margin-left: 30px;
}

#arrow-right{
    border-width: 30px 0 30px 40px;
    border-color: transparent transparent transparent white;
    opacity: 50%;
    right: 0;
    margin-right: 30px;
}

#arrow-left:hover, #arrow-right:hover{
    opacity: 100%;
}

/*Lagde dette slideshowet med hjelp fra YouTuber Traversy Media: https://www.youtube.com/watch?v=7ZO2RTMNSAY&t=917s */