
.video{
  width:100%; 
  position: relative;
  border: 0;

}

.content{
  font-size: 18px;
  text-align: center;
  margin: auto;
}

h1, p, h3{
  text-align: center;
  margin-left: 10%;
  margin-bottom: 3%;
  width: 80%;
}