.aboutBrage {
  display: grid; 
  grid-template-columns: 1fr 1fr;/*lager et grid med to like store kolonner*/
}


.imgBrage {
  justify-self: center;
  width: 60%;
  padding: 5%;
  margin-top: 8%;
}
.textBrage {
  justify-self: left;
  width: 70%;
  padding: 5%;
  text-align: justify;
  margin-top: 8%;
}

/*videoen av Brage skal ikke vises før man trykker på bildet, derfor display: none*/
#videoPlayer {
  display: none;
}


.strek {
  margin-left: 10%;
  margin-right: 10%;
  text-align: left;
}

#team{
  text-align: center;
}

.cfo,
.cto,
.hod,
.dronepilot {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.bilde {
  justify-self: center;
  width: 50%;
  margin-bottom: 10%;
  filter: grayscale(100%);
}

.text {
  justify-self: left;
  width: 70%;
  text-align: justify;
}

.cfo > :nth-child(2) {
  margin-top: 4%;
}

/* @media skjer når skjermen blir mindre enn 720px*/
@media screen and (max-width: 720px) {
  .cto,
  .cfo,
  .hod,
  .dronepilot,
  .aboutBrage {
    display: grid;
    grid-template-columns: 1fr; /*gridet blir en kolonne istedenfor to*/
    padding: 2%;
  }
  .text,
  .textBrage {
    justify-self: center;
    padding-top: 3%;
  }

  .bilde {
    margin-bottom: 2%;
    padding-top: 4%;
  }

  .textBrage > h1,
  h2 {
    text-align: center;
  }
}

#ingrid:hover, #herman:hover, #roselin:hover, #hanna:hover, #brage:hover{
  filter: brightness(60%); 
  cursor: pointer;
}
/*gjør bildet mørkere og gjør om musepile til en pointer slik at bruker skjønner at bildene kan trykkes på*/

#introvideo{
  border: 0;
  width: 100%;
}

/*det som skjer i .videostyle og .textstyle blir trigget når javascript funksjonen i about.js kjører*/
.videostyle{
  display: flex;
  width: 100%;
  min-height: 100%;
  grid-column-start: 1;
  grid-column-end: 3;
  justify-self: start;
  align-self: start;
}

.textstyle{
  grid-column-start: 1;
  grid-column-end: 3;
  justify-self: center;
  width: 50%;
  padding: 0;
  margin-top: 0;
  margin-bottom: 5%;
  text-align: justify;
}

.textstyle > h1{
  text-align: center;
}

.textstyle > h2{
  text-align: center;
}


#lightbox {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}


/*s#lightbox.active skjer når funksjonen i lightboxabout.js kjører*/
#lightbox.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

#lightbox img {
  max-width: 90%;
  max-width: 80%;
  filter: grayscale(100%);
}


