body {
    max-width: 80ch;
    margin: auto;
    font-family: acumin pro;
    background-color: #202020;
    color: #bebebe;
  }
  
#cover {
  max-width: 100%;
}
  
h1 {
  text-align: center;
}
  
h4 {
  text-align: center;
}
  
h3 {
  text-align: center;
}
  
h2{
  font-size: 20px;
}

b{
  font-size: 18px;
}

#navigasjonsstruktur {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

  #filstruktur {
      width: 100%;
  }
  
.boks {
  margin: auto;
  padding: 40px;
  background-color: #484848;
}
  
footer {
  text-align: center;
}
  

#arbeidsfordeling1, #arbeidsfordeling2, #arbeidsfordeling3{
  width: 100%;
  
}
  

      
